<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>

 .bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.dropButon{

  margin-right:20px;


}
.write{

font-size:16px;

}

</style>

</head>
<body>


<nav class="navbar navbar-dark bg-dark navbar-expand-sm">

    <a class="navbar-brand  " href="#" style="color:#fff font-family:Arial Black"><strong>Diphylleia Grayi</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link write" th:href="@{/index}" style="margin-right:5px" ><strong> New Records</strong> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link write" th:href="@{/data}" style="margin-right:5px"><strong> Check My Records</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link write" th:href="@{/motivation}" style="margin-right:5px"><strong> Motivation </strong></a>
            </li>


        </ul>
    </div>


    <form class="d-flex ms-auto">

        <form method="post" th:object="${about}">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <div class="dropButon">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class='far fa-user-circle' style='font-size:36px'  ></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                                <a class="dropdown-item" th:href="@{/index}"><span class="glyphicon glyphicon-home"></span> Home</a>
                                <a class="dropdown-item" th:href="@{/settings}" ><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                                <a class="dropdown-item"  sec:authorize="isAuthenticated()" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                            </div>
                        </li>
                    </div>


                </ul>
            </div>

        </form>

    </form>
    </div>

</nav>

</body>
</html>